

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 25px 75px;padding: 0px;border: none;width: 741px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 740px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 18px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 36px 0px 0px 24px;padding: 0px;border:none;width: 698px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 28px 0px 0px 43px;padding: 0px;border:none;width: 638px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:120px;left:0px;z-index:-1;width:17px;height:868px;}
#page_1 #p1dimg1 #p1img1 {width:17px;height:868px;}




.ft0{font: 16px 'Arial';color: #ffffff;line-height: 18px;}
.ft1{font: italic bold 21px 'Arial';line-height: 24px;}
.ft2{font: bold 24px 'Arial';line-height: 29px;}
.ft3{font: 13px 'Arial';text-decoration: underline;line-height: 16px;}
.ft4{font: bold 19px 'Arial';line-height: 22px;}
.ft5{font: 13px 'Arial';line-height: 16px;}
.ft6{font: 16px 'Arial';line-height: 18px;}
.ft7{font: 1px 'Arial';line-height: 1px;}
.ft8{font: bold 11px 'Arial';line-height: 14px;}
.ft9{font: 10px 'Arial';line-height: 13px;}
.ft10{font: 9px 'Arial';line-height: 12px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(270deg);-moz-transform: rotate(270deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);direction: rtl;block-progression: lr;width:739px;height:18px;}
.p1{text-align: left;padding-left: 142px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 54px;margin-top: 15px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 66px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: center;padding-left: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: center;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: center;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}

.td0{padding: 0px;margin: 0px;width: 378px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 149px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 86px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 465px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 173px;vertical-align: bottom;}

.tr0{height: 27px;}
.tr1{height: 24px;}
.tr2{height: 19px;}
.tr3{height: 46px;}
.tr4{height: 26px;}
.tr5{height: 20px;}
.tr6{height: 35px;}
.tr7{height: 13px;}

.t0{width: 613px;margin-top: 12px;font: 16px 'Arial';}
.t1{width: 638px;font: 9px 'Arial';}

